<template>
  <div class="container mx-auto px-6 py-4">
    <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=rose&shade=500" alt="Windfactory">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Ingresa a WindFactory
      </h2>
    </div>
    <form class="mt-8 space-y-6" action="#" method="POST">
      <input type="hidden" name="remember" value="true">
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <label for="username" class="sr-only">Username</label>
          <input v-model="context.username" id="username" name="username" type="text" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Nombre de usuario">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input v-model="context.password" id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" placeholder="Contraseña">
        </div>
      </div>
      <div>
        <button type="button" :disabled="!(context.username && context.password)" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md bg-gray-500" :class="!(context.username && context.password) ? 'cursor-not-allowed text-gray-800' : 'bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-white'" @click.prevent="postLogin">
          <span v-if="!(context.username && context.password)" class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="h-5 w-5" :class="!(context.username && context.password) ? 'text-gray-900' : 'text-indigo-500 group-hover:text-indigo-400'" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
  </div>
</template>

<script lang="ts">
import { Options, Vue, setup } from 'vue-class-component';
import { reactive, toRefs } from 'vue';
import { createToast } from 'mosha-vue-toastify';
import 'mosha-vue-toastify/dist/style.css';

interface State {
  username: string;
  password: string;
}

const useContext = () => {
  const state: State = reactive({
    username: '',
    password: '',
  });

  return {
    ...toRefs(state),
  };
};

@Options({
})
export default class LoginView extends Vue {
  context = setup(() => useContext())

  isLoading!: any;

  async postLogin(): Promise<any> {
    try {
      this.isLoading = this.$loading.show({
        canCancel: false,
      });
      // eslint-disable-next-line @typescript-eslint/ban-ts-comment
      // @ts-ignore
      const { data } = await this.axios.post('/login', {
        username: this.context.username,
        password: this.context.password,
      }, {
        headers: {
          'Content-Type': 'application/json',
        },
      });
      // Setting token in localStorage
      const now = new Date();

      const jwt = {
        token: data.token,
        expiry: now.getTime() + 86400000,
      };

      localStorage.setItem('jwt', JSON.stringify(jwt));
      this.$router.replace('/home');
    } catch (e) {
      createToast({
        title: 'Credenciales incorrectas',
        description: 'Credenciales incorrectas. Vuelva a intentarlo',
      }, {
        hideProgressBar: true,
        showIcon: true,
        transition: 'slide',
        type: 'danger',
      });
      console.error(e);
    } finally {
      this.isLoading.hide();
    }
  }
}
</script>
