<template>
  <div class="min-h-screen flex h-full">
    <navbar v-if="!isLoginComponent" class="min-w-min w-64"/>
    <div class="min-h-screen h-full w-10/12" :class=" isLoginComponent ? 'w-full' : 'w-10/12'">
      <router-view/>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Navbar from '@/components/Navbar.vue';

@Options({
  components: {
    Navbar,
  },
})
export default class App extends Vue {
  get isLoginComponent(): boolean {
    return this.$route.name === 'Login' || this.$route.path === '/';
  }

  created(): void {
    const jwt = localStorage.getItem('jwt');
    if (jwt) {
      const token = JSON.parse(jwt);
      if (token.token) {
        const now = new Date();
        if (now.getTime() > token.expiry) {
          localStorage.removeItem('jwt');
          this.$router.replace('/');
        } else if (this.$route.path === '/') {
          this.$router.replace('/home');
        }
      }
    } else {
      this.$router.replace('/');
    }
  }

  mounted(): void {
    window.onbeforeunload = function () {
      return 'Seguro que quieres recargar? Los cambios hechos hasta el momento se perderán y empezaras de nuevo';
    };
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
